**/build/**
!etc/build/**
**/coverage/**
**/docs?/**
**/dist/**
**/*.ignore.*/**
**/jsdoc/**
**/*legacy*/**
**/node_modules/**
packages/**/static/**
**/templates?/**
**/tmp/**
**/*vendor*/**

**/*.html.*ejs
**/*.json.*ejs
**/*.md.*ejs
**/*.md

!.eslintrc.js
