{
    'extends': ['airbnb-standard'],
    'rules': {
        'arrow-parens': ['error', 'always'],
        'global-require': ['off'],
        'indent': ['error', 4],
        'max-len': ['error', {
            'code': 80,
            'ignoreComments': false,
            'ignoreTemplateLiterals': true,
            'ignoreUrls': true,
        }],
        'no-nested-ternary': ['off'],
        'no-param-reassign': [
            'error',
            {
                'props': true,
                'ignorePropertyModificationsFor': ['state']
            }
        ],
        'react/jsx-indent': ['error', 4],
        'react/jsx-indent-props': ['error', 4],
        'semi': ['error', 'never'],
        'spaced-comment': ['off'],
    },
    'settings': {
        'import/resolver': {
            'webpack': {
                 'config': 'webpack/webpack.config.base.js',
            }
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
    }
}
