# ----- build ------------------------------------------------------------------

### build output
**/build/**
**/dist/**
**/packages/**/static

### yarn (base)
# @see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
### yarn (w/ zero-installs)
# @see https://yarnpkg.com/features/zero-installs
!.yarn/cache
!.yarn/pnp.data.json

### package manager logs
**/lerna-*.log
**/npm-*.log
**/yarn-*.log

# ----- essential excludes -----------------------------------------------------

### 3rd party sources
**/node_modules/
**/vendor/

### sensitive information

## miscellaneous

**/*.env*
!**/.env.defaults
!**/.env.example

**/*secret.*
**/*secrets.*

## terraform

**/.terraform/*
**/*.tfstate
**/*.tfstate.*
*.tfvars

## git-secret

.gitsecret/keys/random_seed
!**/*.secret

# ----- transient data ---------------------------------------------------------

### caches
**/.firebase
**/.rollup.cache/

### (potential) backups

**/*.sql
**/*.sqllite

# ----- IDE & system artifacts -------------------------------------------------

### IDE > VSCode
**/.history/**
**/.vscode/**
**/*.code-workspace

### IDE > miscellaneous
**/.c9/**/*
**/*.settings/**
**/.classpath
**/.idea
**/*.launch
**/.project
**/*.sublime-workspace

# !**/.vscode/extensions.json
# !**/.vscode/launch.json
# !**/.vscode/settings.json
# !**/.vscode/tasks.json

### operating system artifacts
**/.DS_Store
**/Thumbs.db

# ----- util -------------------------------------------------------------------

### utility pattern for on-the-spot dynamic use
**/*.ignore.*

etc/journal/cache
