# ----- util -------------------------------------------------------------------

### utility pattern for on-the-spot dynamic use
**/*.ignore.*

# ----- build ------------------------------------------------------------------

### build output
**/build/**
!etc/build/**
**/dist/**
**/packages/**/static

### build artifacts
**/npm-debug.log
**/yarn-error.log

# ----- essential excludes -----------------------------------------------------

### 3rd party sources
**/node_modules/
**/vendor/

### sensitive information
**/*.tfstate
.gitsecret/keys/random_seed
**/*.env*
**/*.secret.*

!**/.env.defaults
!**/.env.example

# ----- transient data ---------------------------------------------------------

### caches
**/.firebase
**/.yarn-cache/

### (potential) backups

**/*.sql
**/*.sqllite

# ----- IDE & system artifacts -------------------------------------------------

### IDE > miscellaneous
**/.c9/**/*
**/*.settings/**
**/.classpath
**/.idea
**/*.launch
**/.project
**/*.sublime-workspace

### IDE > VSCode
**/.history/**
**/.vscode/**
**/*.code-workspace

# !**/.vscode/extensions.json
# !**/.vscode/launch.json
# !**/.vscode/settings.json
# !**/.vscode/tasks.json

### operating system artifacts
**/.DS_Store
**/Thumbs.db
