@import url(fonts.css);


body {
	font-family: "Museo", sans serif !important;
	font-weight: 300 !important;
}

p { font-weight: 300 !important;}

.h1 {
	font-family: VeneerTwo !important;
	font-weight: 300 !important;
	font-style: normal;
}

.h2 {
	font-family: VeneerTwo !important;
	font-weight: 300 !important;
	font-style: normal;
}

.h5, h5 {
	font-family: VeneerTwo !important;
	font-weight: 300 !important;
	font-style: normal;
}

.main_menu ul:first-child > li > a { font-family: 'Museo', Arial, sans-serif; font-weight: 700; }

.avia-section { border: none !important; }

body .av-special-heading .av-special-heading-tag {
padding: 0;
margin: 0;
font-weight: bold;
font-size: 20px;


}

/* Überschriften */

body.page-id-13893 .container h2 {
    font-family: "MuseoSans" !important;
}

body.page-id-13893 .container p {
	font-family: "MuseoSans";
}

body.page-id-13893 .container ul li {
    font-family: "MuseoSans";
}

body.page-id-13893 .container h1 {
	font-family: "MuseoSans" !important;
}

body.page-id-13893 .container h4 {
	font-family: "MuseoSans" !important;
	color: #ffffff !important;
}

.page-id-13893 .content-box-footer {
    display: none !important;
}

.page-id-13893 footer {
    display: none !important;
}
.page-id-13893 .social_bookmarks {
    display: none !important;
}

.container_wrap {
	border: none !important;
}

a {
text-decoration: none !important;
font-weight: bold;
}

ul {

margin-top: 10px;
}

ul li {

font-size: 17px !important;
line-height: 1.6 !important;
}

li img{

margin-top: 10px;
    margin-bottom: 10px;
}


.sub_menu a {
text-transform: uppercase;
padding: 2px !important;
font-family: "Museo", sans-serif;

}

.sub_menu a:hover {
background-color: #000 !important;
color: #FFF !important;
}

.content-box-footer ul a {

font-size: 12px;
text-transform: uppercase;
padding: 2px !important;
font-family: "Museo", sans-serif;
color: #000 !important;
}

.content-box-footer ul li {

margin: 0px;
}

.content-box-footer ul a:hover{
background-color: #000 !important;
color: #FFF !important;
text-decoration: none !important;
}

.content-box-footer {
background-color: #FFF;
color: #000;

}

.content-box-footer ul {
list-style-type: none;
margin-left: 0px;
padding-left: 0px;
}

.footer-preis-img {
width: 100%;
max-width: 240px;
min-width: 180px;
margin-bottom: 40px !important;
}

.entry-content p a {

font-size: 15px;
text-transform: uppercase;
padding: 2px !important;
font-family: "Museo", sans-serif;
color: #000000 !important;
text-decoration: underline !important;
}

.entry-content p a:hover{
background-color: #000 !important;
color: #FFF !important;
text-decoration: none !important;
}

.entry-content {
background-color: #FFF;
color: #000;
}

.entry-content-wrapper {
padding: 0px !important;
}

.sidebar a {

font-size: 14px;
padding: 2px !important;
font-family: "Museo", sans-serif !important;
color: #000000 !important;
text-decoration: underline !important;
}

.sidebar a:hover{
background-color: #000 !important;
color: #FFF !important;
text-decoration: none !important;
}

.content-box-white p a {
font-size: 15px;
text-transform: uppercase;
padding: 2px !important;
font-family: "Museo", sans-serif;
color: #000000 !important;
text-decoration: underline !important;
}

.content-box-white-left p a {
font-size: 15px;
text-transform: uppercase;
padding: 2px !important;
font-family: "Museo", sans-serif;
color: #000000 !important;
text-decoration: underline !important;
}

.content-box-white-right p a {
font-size: 15px;
text-transform: uppercase;
padding: 2px !important;
font-family: "Museo", sans-serif;
color: #000000 !important;
text-decoration: underline !important;
}

.content-box-white p a:hover{
background-color: #000 !important;
color: #FFF !important;
text-decoration: none !important;
}

.content-box-white-left p a:hover{
background-color: #000 !important;
color: #FFF !important;
text-decoration: none !important;
}

.content-box-white-right p a:hover{
background-color: #000 !important;
color: #FFF !important;
text-decoration: none !important;
}

.blog-box p a {
font-size: 15px;
text-transform: uppercase;
padding: 2px !important;
font-family: "Museo", sans-serif;
color: #000000 !important;
text-decoration: underline !important;
}

.blog-box p a:hover{
background-color: #000 !important;
color: #FFF !important;
text-decoration: none !important;
}

.content-box-white {
background-color: #FFF;
color: #000;
}

.content-box-white-left {
background-color: #FFF;
color: #000;
}

.content-box-right {
background-color: #FFF;
color: #000;
}

.content-box-yellow p {
margin-bottom: 25px !important;
}

.content-box-yellow p a {

font-size: 15px;
text-transform: uppercase;
padding: 2px !important;
font-family: "Museo", sans-serif;
color: #000000 !important;
text-decoration: underline !important;
}

.content-box-yellow p a:hover{
background-color: #000 !important;
color: #FFE500 !important;
text-decoration: none !important;
}

.content-box-black p a {

font-size: 15px;
padding: 0px 2px !important;
text-transform: uppercase;
font-family: "Museo", sans-serif;
color: #FFFFFF !important;
text-decoration: underline !important;

}

.content-box-black p a:hover{
background-color: #FFF !important;
color: #000!important;
text-decoration: none !important;
}

.content-box-black {
background-color: #000;
color: #FFF !important;
}

.content-box-black strong {
color: #FFFFFF !important;
}

b {
font-weight: 800;
color: inherit !important;
}

.bigfont {
	line-height: 1 !important;
	text-align: center !important;
}

.av-special-heading .av-special-heading-tag {
	font-weight: normal !important;
}

/* Heading style */
.textbacker-container {
	display:block;
	padding: 20px 0 20px 0;
	padding-left: 5px;

}

.textbacker,
    .textbacker:after{
        background-color:#fff !important;
    }
.textbacker{
    position:relative !important;
    line-height:1.8 !important;
    color:#000 !important;
    display:inline !important;
    white-space:pre-wrap !important;
    border:0 solid #fff !important;
    border-width:0.5em 0em !important; /* 0.25em is roughly equal to one space character. */
}
    .textbacker:after{
        content:"";
        position:absolute !important;
        top:-0.5em !important;
        right:100% !important;
        bottom:-0.5em !important;
        width:0.25em !important;
    }
    .textbacker > span{
        position:relative;
        z-index:1;
    }


h1 {
margin-top: 0px !important;
margin-bottom: 10px !important;
font-weight: 300;
}

h2 {
margin-top: 0px !important;
margin-bottom: 10px !important;
font-weight: 300 !important;


}

h3 {
letter-spacing: 2px !important;
margin-top: 0px !important;
margin-bottom: 5px !important;

line-height: 1.6 !important;
}

.av_toggle_section p {
margin-bottom: 0px !important;
}

p {

font-size: 17px !important;
margin-bottom: 15px !important;
line-height: 1.6 !important;
}

.content-box-white ul, .content-box-black ul, .content-box-yellow ul {
font-size: 17px !important;
margin-bottom: 15px !important;
line-height: 1.6 !important;
}

.blog-p {

font-size: 17px !important;
margin-bottom: 25px !important;
margin-top: 15px;
line-height: 1.6 !important;
}

.avia-menu-text {
font-size: 13px;
text-transform: uppercase !important;
letter-spacing: 1px;
font-family: "Museo", sans-serif;
font-weight: bold;
}





.flex-column {
flex: 1;

min-width: 300px;
}

#footer a{
font-size: 13px;
text-transform: uppercase !important;
font-family: "Museo", sans-serif;
font-weight: 700;
padding: 2px;
line-height: 2;
color: #000000 !important;

}

#footer a:hover{

background-color: #000 !important;
color: #FFF !important;
}

#header {
box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
padding: 0px 50px;
}

.img-group {
display: flex;
flex-flow: row wrap;
}

/* Errorbox Formulare */

.errorbox {
	position: fixed;
	text-align: center;
	height: auto;
	padding: 40px 40px;
	width: 100%;
	background-color: #AA6600;
	color: white;
	font-weight: bold;
	top: -120px;
	z-index: 1000;
	-webkit-transition: 0.3s; /* Safari */
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.errorbox-enabled {
	position: fixed;
	height: auto;
	width: 100%;
	background-color: #AA6600;
	top: 100px !important;
	z-index: 1000;


}

/* Button */

input.button {

height: auto !important;
width: auto !important;
font-family: "Museo", sans-serif !important;
letter-spacing: 2px !important;
font-size: 12px !important;
font-weight: 700 !important;
text-transform: uppercase !important;
background-color: #ffffff !important;
color: #000 !important;
border: #000 solid 2px !important;
border-radius: 0px !important;
padding-top: 13px !important;
padding-right: 30px !important;
padding-bottom: 11px !important;
padding-left: 30px !important;

-webkit-transition: 0.3s; /* Safari */
transition: 0.3s;
}

.button:hover {

opacity: 1 !important;
background-color: #000 !important;
color: #FFF !important;
border: #000 solid 2px !important;
border-radius: 0px !important;
}


.button-disabled {
	opacity: 0.2 !important;
}

.button-disabled:hover {
	opacity: 0.2 !important;
	background-color: #ffffff !important;
	color: #000 !important;
	border: #000 solid 2px !important;
}


.button-dark-bg .avia-button {

height: auto !important;
width: auto !important;
font-family: "Museo", sans-serif;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
text-transform: uppercase !important;
background-color: none !important;
color: #FFF !important;
border: #FFF solid 2px !important;
border-radius: 0px !important;

-webkit-transition: 0.3s; /* Safari */
transition: 0.3s;
}

.button-dark-bg .avia-button:hover {

opacity: 1 !important;
background-color: #FFF !important;
color: #000 !important;
border: #FFF solid 2px !important;
border-radius: 0px !important;
}


.button-light-bg .avia-button {

height: auto !important;
width: auto !important;
font-family: "Museo", sans-serif;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
text-transform: uppercase !important;
background-color: none !important;
color: #000 !important;
border: #000 solid 2px !important;
border-radius: 0px !important;

-webkit-transition: 0.3s; /* Safari */
transition: 0.3s;
}

.button-light-bg .avia-button:hover {

opacity: 1 !important;
background-color: #000 !important;
color: #FFF !important;
border: #000 solid 2px !important;
border-radius: 0px !important;
}

/* Icon Listen */

.ge-icon-container {

}

.ge-icon {

width: 50px;
height: 50px;

}


.ge-icon img {

width: 30px;
height: 30px;
}

/* Content-Boxen, Überschriften und Textblöcke */

 /* Extra small devices  */
@media only screen and (max-width: 479px) {

h1 {
padding-top: 6px !important;
font-family: veneer !important;
font-size: 30px !important;
}
h2 {
font-size: 25px !important;
font-family: veneer !important;
}
h3 {
font-size: 10px !important;
}

.bigfont {
font-size: 25px !important;
font-family: veneer !important;
}

p {
font-size: 15px !important;
}
.content-box-white {
padding: 25px !important;
}

.content-box-white-left {
padding: 25px !important;
}

.content-box-white-right {
padding: 25px !important;
}

.content-box-white-pb {
padding: 25px !important;
}

.content-box-black {
padding: 25px !important;
}

.content-box-yellow {
padding: 25px !important;
}

.container-parallax-info {
	position: absolute;
	left: 25px;
	top: 25px;
	width: 400px;
	max-width: 80%;

}

.parallax-scene-mid {

	left: -10% !important;
}


.container-parallax-info-large {
	position: absolute;
	left: 25px;
	top: 25px;
	width: 700px;
	max-width: 80%;

}

.blog-box {
padding: 25px !important;
}

.tag-cloud-link:hover {
background-color: #000000 !important;
color: #FFFFFF !important;
}

.content-box-footer {
padding: 25px !important;
width: 100% !important;
}

#footer {
padding: 30px !important;
padding-top: 15px !important;
}

.img-full {
height: 100% !important;
min-height: 400px !important;
background-size: cover !important;
}

.ge-map {
height: 500px !important;
}

.img-group {
padding: 0px 25px !important;
}

.group-img-400 {
padding: 0px;
width: 100%;
min-width: none !important;
max-width: none !important;
margin: 0px;
}

.group-img-300 {
padding: 0px;
width: 100%;
min-width: none !important;
max-width: none !important;
margin: 0px;
}
}

/* Small devices */
@media only screen and (min-width: 480px) {

h1 {
padding-top: 6px !important;
font-family: veneer !important;
font-size: 30px !important;
}
h2 {
font-size: 25px !important;
font-family: veneer !important;
}
h3 {
font-size: 10px !important;
}

.bigfont {
font-size: 25px !important;
font-family: veneer !important;
}

.content-box-white {
padding: 50px !important;
}

.content-box-white-left {
padding: 50px !important;
}

.content-box-white-right {
padding: 50px !important;
}

.content-box-white-pb {
padding: 50px !important;
}

.content-box-black {
padding: 50px !important;
}

.content-box-yellow {
padding: 50px !important;
}

	.container-parallax-info {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 400px;
	max-width: 80%;

}

.container-parallax-info-large {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 700px;
	max-width: 80%;

}

.parallax-scene-mid {

	left: -10% !important;
}

.blog-box {
padding: 50px !important;
}

.content-box-footer {
padding: 50px !important;
width: 100% !important;
}

#footer {
padding: 50px !important;
padding-top: 30px !important;
}

.img-full {
height: 400px !important;
min-height: 400px !important;
background-size: cover !important;
}

.ge-map {
height: 500px !important;
}

.img-group {
padding: 0px 30px !important;
}

.group-img-400 {
padding: 20px;
margin: 0px;
width: 50%;
min-width: none !important;
max-width: none !important;
}

.group-img-300 {
padding: 0px;
width: 50%;
min-width: none !important;
max-width: none !important;
margin: 0px;
}
}

/* Medium devices */
@media only screen and (min-width: 768px) {

h1 {
padding-top: 2px !important;
font-family: veneer !important;
font-size: 40px !important;
}
h2 {
font-size: 30px !important;
font-family: veneer !important;
}
h3 {
font-size: 10px !important;
}

.bigfont {
font-size: 30px !important;
font-family: veneer !important;
}

.content-box-white {
padding: 50px !important;

}

.content-box-white-left {
padding: 100px 100px 100px 100px !important;
}

.content-box-white-right {
padding: 100px 100px 100px 100px !important;
}

.content-box-white-pb {
padding: 50px !important;
}

.content-box-black {
padding: 50px !important;

}

.content-box-yellow {
padding: 50px !important;
}

.container-parallax-info {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 400px;
	max-width: 80%;

}

.parallax-scene-mid {

	left: -5% !important;
}

.container-parallax-info-large {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 700px;
	max-width: 80%;

}

.blog-box {
padding: 50px 50px !important;
}

.sidebar {
padding: 50px 50px 0px 0px !important;
}

.content-box-footer {
padding: 50px !important;
width: 50% !important;
}

#footer {
padding: 100px !important;
padding-top: 50px !important;
}

.img-full {
height: 400px !important;
min-height: 400px !important;
background-size: cover !important;
}

.ge-map {
height: 500px !important;
}

.img-group {
padding: 0px 30px !important;
}

.group-img-400 {
padding: 20px;
margin: 0px;
width: 33.3%;
min-width: none !important;
max-width: none !important;
}

.group-img-300 {
padding: 0px;
width: 33.3%;
min-width: none !important;
max-width: none !important;
margin: 0px;
}
}

/* Big devices */
@media only screen and (min-width: 990px) {

h1 {
padding-top: 2px !important;
font-size: 60px !important;
font-family: veneer !important;
}
h2 {
font-size: 40px !important;
font-family: veneer !important;
}
h3 {
font-size: 10px !important;
}

.bigfont {
font-size: 40px !important;
font-family: veneer !important;
}

.slide-entry {
width: 33%
}

.content-box-white {
padding: 50px !important;
}

.content-box-white-left {
padding: 50px 25px 50px 100px !important;
}

.content-box-white-right {
padding: 50px 100px 50px 25px !important;
}

.content-box-white-pb {
padding: 50px !important;
}

.content-box-black {
padding: 50px !important;
}

.content-box-yellow {
padding: 50px !important;
}

.container-parallax-info {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 500px;
	max-width: 80%;

}

.parallax-scene-mid {

	left: 0% !important;
}

.container-parallax-info-large {
	position: absolute;
	left: 25px;
	top: 50px;
	width: 700px;
	max-width: 80%;

}

.blog-box {
padding: 50px 100px !important;
}

.sidebar {
padding: 50px 50px 0px 0px !important;
}

.content-box-footer {
padding: 50px !important;
width: 33% !important;
}

#footer {
padding: 80px !important;
padding-top: 50px !important;
}

.img-full {
height: 400px !important;
min-height: 400px !important;
background-size: cover !important;
}

.ge-map {
height: 600px !important;
}

.img-group {
padding: 0px 30px !important;
}

.group-img-400 {
padding: 20px;
margin: 0px;
width: 25%;
min-width: none !important;
max-width: none !important;
}

.group-img-300 {
padding: 0px;
width: 20%;
min-width: none !important;
max-width: none !important;
margin: 0px;
}
}

/* Very big devices */
@media only screen and (min-width: 1200px) {

h1 {
padding-top: 2px !important;
font-size: 70px !important;
font-family: veneer !important;
}
h2 {
font-size: 40px !important;
font-family: veneer !important;
}
h3 {
font-size: 10px !important;
}

.bigfont {
font-size: 40px !important;
font-family: veneer !important;
}

.slide-entry {
width: 33%
}

.content-box-white {
padding: 100px !important;
}

.content-box-white-left {
padding: 100px 50px 100px 150px !important;
}

.content-box-white-right {
padding: 100px 150px 100px 50px !important;
}

.content-box-white-pb {
padding: 50px 100px !important;
}

.content-box-black {
padding: 100px !important;
}

.content-box-yellow {
padding: 100px !important;
}

.container-parallax-info {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 500px;
	max-width: 80%;

}

.container-parallax-info-large {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 700px;
	max-width: 80%;

}

.blog-box {
padding: 100px 100px !important;
}

.news-link {
-webkit-transition: 0.3s; /* Safari */
transition: 0.3s;
}

.news-link:hover {
padding-left: 10px;
}

.sidebar {
padding: 50px 50px 0px 0px !important;
}

.content-box-footer {
padding: 100px !important;
width: 25% !important;
}

#footer {
padding: 100px !important;
padding-top: 50px !important;
}

.img-full {
height: 400px !important;
min-height: 400px !important;
background-size: cover !important;
}

.ge-map {
height: 600px !important;
}

.img-group {
padding: 0px 80px !important;
}

.group-img-400 {
padding: 20px;
margin: 0px;
width: 25%;
min-width: none !important;
max-width: none !important;
}

.group-img-300 {
padding: 0px;
width: 20%;
min-width: none !important;
max-width: none !important;
margin: 0px;
}
}
/* Animation Blogseite off */
.avia_desktop.avia_transform3d .av-masonry-entry.av-masonry-item-loaded .av-inner-masonry {
  -webkit-animation: none;
  animation: none;

background: rgba(255,0,0,0.15);
}


.masonry-box h3.av-masonry-entry-title {
    color: #ffffff !important;
position: absolute;
padding: 20px;
padding-bottom: 40px;
text-align: left;
	font-family: "Museo", sans-serif;

margin: 0px !important;
left: 0px;
bottom: 10px;
background-color: #000000;
width: 90%;
line-height: 1.6 !important;
}


.av-masonry-date {

position: absolute;
padding: 20px;
width: 100%;
text-align: left;
margin: 0px !important;
left: 0px;
bottom: 0px !important;

}

.av-masonry-load-more {

font-family: "Museo", sans-serif;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
text-transform: uppercase !important;
background-color: #FFF !important;
color: #000 !important;
border-radius: 0px !important;
letter-spacing: 2px !important;
-webkit-transition: 0.3s; /* Safari */
transition: 0.3s;
}

.av-masonry-load-more:hover {
color: #FFF !important;
background-color: #000 !important;
letter-spacing: 2px !important;

}

/*Abstand zwischen Zeilen auf 0 */

.flex_column {

margin-bottom: 0px !important;
}

/* Background-Bild einpassen */



/* Abstand zwischen Special Headings */

.av-special-heading {
    margin-top: 20px;
}

.woocommerce-loop-product__title {font-size:14px;}

.container {
width: 100% !important;
padding: 0px !important;
max-width: none !important;
}

/* Kein Abstand zwischen Menu und Content und Footer */

.content {

padding: 0px !important;
}

.avia-section.av-minimum-height .container .content p{
	margin:0px;
}


.headline-container {

display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
}

.headline-container-icon {
display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    width: 90px !important;
    flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
}

.headline-container-text {
display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
flex: 1;
min-width: 250px;
min-height: 80px;
justify-content: flex-start;
align-items: center;
}

.headline-container .headline-container-icon img{

margin-right: 10px;
width: 80px;
height: 80px;
border-radius: 50%;
}

.headline-container h1{

margin-top: 2px !important;
}

.headline-sub {

margin-top: 5px !important;
}

.dealer-container {

display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
}

.dealer-container img{

margin-bottom: 25px;
margin-right: 50px;
width: auto;
height: 80px;
}

.family-container {

display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
}

.family-container img{

margin: auto;
min-width: 200px;
width: 15%;
height: auto;
}

/* Festivals */

.festival-container {

display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
}

.festival-container img{


margin: 25px;
width: 120px;
height: auto;
}

.iconlist_icon {

margin-left: 0px !important;
color: #FFE500 !important;
}



@media only screen and (max-width:767px) {
  .responsive #top #wrap_all #header {
    position: fixed !important;
  }

  .responsive #top #main {
    padding-top: 80px !important;
  }
}

#menu-item-search {
display: none !important;
}

.av-logo-container .logo {
width: 160px !important;
}
.logo a:hover {
background-color: #FFFFFF !important;
}


.magazin iframe{
width: 100vw;
    height: 100vh;

}

.tagcloud a{
font-size: 15px !important;
}

.scene-container {
	overflow: hidden;
	height: 90vh;
	width: 100vw;
	background-color: #fff;
}


.parallax-scene {

	height: 150vh;
	min-width: 200%;
	left: -50%;
	bottom: -50%;


}

.swing {
    animation: swing ease-in-out 5s infinite alternate;
    transform-origin: center -20px;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}


.swingtwo {
    animation: swing ease-in-out 2.5s infinite alternate;
    transform-origin: center -20px;
}

@keyframes swingtwo {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.parallax-scene .layer {
	left: 0px;
  top: 0px;
}

.parallax-background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1600px;
	height: 1080px;
}

.parallax-scene img {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -10%;
}

.parallax-scene-y {

	height: 150vh;
	min-width: 200%;
	left: -50%;
	bottom: -50%;
	background-color: #ffe500;
}

.parallax-scene-y img {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -10%;
}

.scene-container-b {

	min-height: 500px;
	height: auto;
	background-color: #fff;
}

.parallax-scene-b {


	height: 150vh;
	min-width: 200%;
	left: -50%;
	bottom: -50%;
	background-color:  #46bfd3;
}

.parallax-scene-b img {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 20%;
}





.gepa-logo {
	max-width: 200px;
	width: 100%;
}

.gepa-p {
	margin-top: 0px;
	font-weight: 700;
}

.gepa-p-reg {
	margin-top: 35px;
	font-size: 20px;

}


.form-whh .button {

	border: none !important;
	display: inline-block;
	margin: 0px 10px 10px 0px !important;
	padding: 20px 20px !important;
	border-radius: 50px !important;
	background-color: #841f1d !important;
	color: white !important;
	-webkit-transition:  0.5s; /* Safari prior 6.1 */
  transition: 0.5s !important;
	cursor: pointer !important;
	font-size: 15px !important;
	font-weight: 700 !important;
	text-transform: none !important;
	letter-spacing: normal !important;
	font-family: inherit !important;
}

.form-whh .button:hover {

	background-color: #af2725 !important;
}

.button-whh {

	border: none;
	display: inline-block;
	margin: 0px 10px 10px 0px;
	padding: 20px 20px;
	border-radius: 50px;
	background-color: #841f1d;
	color: white !important;
	-webkit-transition:  0.5s; /* Safari prior 6.1 */
  transition: 0.5s;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
}

.button-whh:hover {

	background-color: #af2725;
}

.button-whh-2 {

	border: none;
	display: inline-block;
	white-space: nowrap;
	margin: 0px 10px 10px 0px;
	padding: 20px 20px;
	border-radius: 50px;
	background-color: #fff;
	color: black !important;
	-webkit-transition:  0.5s; /* Safari prior 6.1 */
  transition: 0.5s;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
}

.button-whh-2:hover {

	background-color: #fafafa;
}

.button-whh-3 {

	border: none;
	display: inline-block;
	white-space: nowrap;
	margin: 0px 10px 10px 0px;
	padding: 20px 20px;
	border-radius: 50px;
	background-color: #4dacc4;
	color: #fff !important;
	-webkit-transition:  0.5s; /* Safari prior 6.1 */
  transition: 0.5s;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
}

.button-whh-3:hover {

	background-color: #a2ced9;
}

button:focus {outline:0;}

.logo-fahne-whh {
	position: absolute;
	width: 60px;
	height: auto;
	top: -10px;
	cursor: pointer;
	right: 50px;
	-webkit-transition:  0.5s; /* Safari prior 6.1 */
  transition: 0.5s;
}

.logo-fahne-whh .logo-fahne-whh-img{
	width: 100%;
	height: auto;
}

.logo-fahne-whh:hover {


	top: 0px;
	right: 50px;
}

.donation-scale-box {
	margin-top: 30px;
	width: 100%;
	max-width: unset !important;
	background-color: #a3dfe5;
	height: 20px;
	border-radius: 10px;
	overflow: hidden;
}

.donation-scale-content {
	width: 0%;
	max-width: unset !important;
	background-color: #841f1d;
	height: 20px;
	border-radius: 10px;
}

.icon-list-whh {
	width: 100%;
	font-size: 17px;
	font-weight: unset;
	color: #46bfd3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	        align-items: center;
	margin-bottom: 12px;

}

.icon-list-span{
	display: inline !important;

}



.icon-whh {
	width: 80px;
	height: 80px;
	margin-right: 20px;

}

.whh-abriss-down {
	position: absolute;
	width: 100%;
	height: auto;
	bottom: -0.5px;
}

.whh-abriss-up {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0px;
}

.label-gelb {
	padding: 5px 10px;
	font-family: veneer !important;
	color: black;
	font-size: 12px;
	background-color: #ffe500;
	border-radius: 5px;
	margin-right: 10px;
}

.label-blau {
	padding: 5px 10px;
	font-family: veneer !important;
	color: white;
	font-size: 12px;
	background-color: #0090c5;
	border-radius: 5px;
	margin-right: 10px;
}

.label-gruen {
	padding: 5px 10px;
	font-family: veneer !important;
	color: black;
	font-size: 12px;
	background-color: #0CE821;
	border-radius: 5px;
	margin-right: 10px;
}


@import url(parent-theme-overrides.css);
