# @see http://www.w3.org/TR/cors/#access-control-allow-origin-response-hea
<FilesMatch "^get-merchants-vca\.php$">
    <IfModule mod_headers.c>
        SetEnvIf Origin "http(s)?://(www\.)?(goldeimer.lc|vivaconagua.org)$" AccessControlAllowOrigin=$0
        Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
        Header merge Vary Origin
    </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteBase "/api"

    RewriteRule "^merchants$" "get-merchants-vca\.php"
</IfModule>
